[Unit]
Description=Kanshi display manager
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
Restart=on-failure

[Install]
WantedBy=graphical-session.target
